.rty{
  background: url(https://thumbs.gfycat.com/FriendlySpecificDachshund-size_restricted.gif);
  width: 100%;
  height: 100%;
}
.content-heart{
  width: 480px;
  height: 480px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  background: url(https://гифки.рус/uploads/posts/2018-11/1542298852_3028-gifka-raduzhnoe-serdce.gif);
}

@media (max-width: 768px) {}